html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    width: 100%;
}
.container {
    width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}



/**
  |============================
  | Header 
  |============================
*/
.header {
    margin: 0 auto;
    max-width: 1260px;
    height: 720px;
    padding: 64px 120px;
    background-color: #E8EFF9;
    background-image: url(../image/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.header-menu {
    display: flex;
    flex-direction: column;
    gap: 356px;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-top-logo {
    display: inline-block;
}
.header-bottom-content {
    width: 498px;
}
.header-bottom-icon {
    display: block;
    margin-bottom: 40px;
}
.hero-title {
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -1.5px;
}
.section-menu {
    display: none;
    max-width: 1260px;
    height: 720px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    margin: 0 auto;
    padding: 64px 120px;
    background-color: #E8EFF9;
}
.section-menu:target {
    transform: translateX(0%);
}
.header-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 64px;
    /* height: 100vh; */
}
.menu-nav-list {
    
}
.menu-close {
    display: block;
    border: none;
    background-color: transparent;
}
.menu-logo {
    display: inline-block;
    margin-bottom: 64px;
}
.menu-nav-items {
    margin-bottom: 32px;
}
.menu-nav-items:last-child {
    margin-bottom: 0;
}
.menu-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #292929;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
}

/**
  |============================
  | Recommended 
  |============================
*/ 
.section-recommended {
    padding: 120px 0;
}
.section-title {
    text-align: center;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    margin-bottom: 64px;
}
.recommended-list {
    display: flex;
    gap: 24px;
}
.recommended-items {
    flex-basis: calc((100% - 2*24px) / 3);
}
.recommended-img {
    margin-bottom: 32px;
}
.recommended-title {
    margin-bottom: 8px;
    letter-spacing: -1.5px;
}
.recommended-text {
    margin-bottom: 12px;
}
.recommended-text-price {
    font-weight: 700;
}

/**
  |============================
  | Section products
  |============================
*/
.section-products {
    padding-bottom: 120px;
}
.products-list {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.products-list-wrap {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}
.products-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

/**
  |============================
  | Section-buy
  |============================
*/
.section-buy {
    padding-bottom: 120px;
}
.buy {
    display: flex;
    gap: 110px;
}
.buy-benefits-list {
    width: 498px;
    margin-bottom: 40px;
}
.buy-benefits-items {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 16px;
}
.buy-benefits-items:last-child {
    margin-bottom: 0;
}
.buy-text {
    width: 498px;
    line-height: 1.69;
}
.buy-title {
    width: 412px;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
    margin: 0 auto;
    max-width: 1260px;
    height: 460px;
    padding: 64px 120px;
    background-color: #E8EFF9;
    background-image: url(../image/footer/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;

}